# Ignore everything
*

# But not this directory
!_archive/

# Ensure everything inside _archive is not ignored
!_archive/**

# Ignore all files recursively in the cache directory but do not ignore .html files 
_archive/cache/**
!_archive/cache/**/*.html

# You know what you did
**/.DS_Store
